{% extends "_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
    {# Translators: Page title. #}
    {# Translators: تایتڵی پەڕە. #}
    {% if update %}
        {% trans 'Update Dialect' %}
    {% else %}
        {% trans 'New Dialect' %}
    {% endif %}
{% endblock title %}


{% block content %}
    <!-- breadcrumb -->
    <ul class="breadcrumb">
        {# Translators: Breadcrumb link. #}
        {# Translators: لینکی برید کرەمب. #}
        <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
        {# Translators: Breadcrumb link. #}
        {# Translators: لینکی برید کرەمب. #}
        <li class="breadcrumb-item"><a href="{% url 'language-list' %}">{% trans 'Languages' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'language-detail' language.id %}">{{ language.name }}</a></li>
        {# Translators: Breadcrumb link. #}
        {# Translators: لینکی برید کرەمب. #}
        <li class="breadcrumb-item"><a href="{% url 'dialect-list' language.id %}">{% trans 'Dialects' %}</a></li>
        {% for breadcrumb in breadcrumbs %}
            <li class="breadcrumb-item"><a href="{% url 'dialect-detail' language.id breadcrumb.id %}">{{breadcrumb.name}}</a></li>
        {% endfor %}
        {% if update %}
            <li class="breadcrumb-item"><a href="{% url 'dialect-detail' language.id dialect.id %}">{{ dialect.name }}</a></li>
        {% endif %}
        {# Translators: Breadcrumb link. #}
        {# Translators: لینکی برید کرەمب. #}
        <li class="breadcrumb-item active">{% if update %}{% trans 'Update Dialect' %}{% else %}{% trans 'New Dialect' %}{% endif %}</li>
    </ul>


    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                {# Translators: Start title. #}
                {# Translators: تایتڵی سەرەتا. #}
                <legend class="border-bottom mb-4">{% if update %}{% trans 'Update dialect' %}{% else %}{% trans 'Add new dialect for' %} {{ language.name }}{% endif %}:</legend>
                {{ form|crispy }}
                <a class="btn btn-outline-secondary" href="{% if dialect %}{% url 'dialect-detail' language.id dialect.id %}{% else %} {% url 'dialect-list' language.id %}{% endif %}">{% trans 'Cancel' %}</a>
                <button class="btn btn-outline-success" type="submit">{% if update %}{% trans 'Update' %}{% else %}{% trans 'Create' %}{% endif %}</button>
            </fieldset>
        </form>
    </div>
{% endblock %}

